# maven build target for jRAPL/src
target/

#temp files i generate, from testing AsyncMonitor.writeToFile() method
AsyncMonitor-C.csv
AsyncMonitor-Java.csv
AsyncMonitor-C-metainfo.json
AsyncMonitor-Java-metainfo.json

*.swp

.vscode
.settings
