jRAPL-1.0.jar
scratch
*.class

# jupyter notebook cache files, dont wanna carry around bloat
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# generated raw data results
*.metadata.json
*.csv
*.stats.json
*.memory.json
.*aggregate-perbench.json
.*aggregate-permonitor.json
