jRAPL-1.0.jar
scratch
*.class

# jupyter notebook cache files, dont wanna carry around bloat
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# generated raw data results
*.metadata.json
*.csv
*.memory.json

# intermediate results
# *.stats.json
# *.aggregate-perbench.json
# *.aggregate-permonitor.json
